*{
    box-sizing: border-box;
    margin: 0;
}
header{
    /* background-color: blue; */
    img{
        width: 100vw;
        height: 200px;
        /* position: absolute;
        z-index: 2; */
    }
    .title{
        /* position: fixed;
        z-index: 3; */
        width: 300px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        border-radius: 25px;
        background-color: beige;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 75%;
    }
}



@media screen and (width<=640px){
    body{
        background-color: red;
    }

}